<template>
  <div class="about">
    <h1>Dream Team</h1>
    <ul>
      <li v-for="(member, i) in teamMembers" :key="i">{{ member }}</li>
    </ul>
  </div>
</template>

<script>
export default {
  data: () => ({
    members: [
      "Ivan Andrik",
      "Gonzalo Peressi",
      "Conrado Cesar Augusto D'Antiochia",
      "Selene Rouvier",
      "León Isla",
      "Nicolas Alegre",
      "Simon Figueroa"
    ]
  }),
  computed: {
    teamMembers() {
      return [...this.members].sort();
    }
  }
};
</script>

<style scoped>
ul {
  padding: 0;
}
li {
  margin-bottom: 10px;
}
</style>
