<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png" />
    <HelloWorld :msg="msg" />
    <GreetWorld v-model.trim="msg" />
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from "@/components/HelloWorld";
import GreetWorld from "@/components/GreetWorld";

export default {
  name: "Home",
  components: {
    HelloWorld,
    GreetWorld
  },
  data: () => ({
    msg: "Hello world!"
  })
};
</script>
