<template>
  <div>
    <h2>Say something to the world!</h2>
    <input type="text" :value="value" @input="change" />
  </div>
</template>

<script>
export default {
  name: "GreetWorld",
  props: {
    value: { type: String, default: "" }
  },
  methods: {
    change(event) {
      this.$emit("input", event.target.value);
    }
  }
};
</script>

<style></style>
